@import "tailwindcss";

@theme {
   --color-primary: #00494d;
   --color-grey-500: #5e7a7d;
   --color-grey-400: #7f9c9f;
   --color-grey-200: #c5e4e7;
   --color-grey-50: #f4fafb;
   --color-white: #ffffff;
   --color-grn: #30ab9e;
   --default-font-family: "Space Mono", monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
